
*.toc
*.pkg
*.spec
build/
backup/
dist/
__pycache__/
telegram.py
bot.py
telegram.ini
__notes.txt
keysettings.ini
photo.bin
photo.txt
photo2.bin
photo2.txt
test.py
config.ini
settings.ini
test.txt
testsleep.py
secret.ini
secret.ini
